

/* ============================================================ */
/* ======================== TOP BANNER ========================*/
/* ============================================================ */

#banner-wrapper {
    position: relative;
    /* display: flex;
    align-items: center; */
    /* width: 100%; */
}

#banner-wrapper img {
    /* display: block; */
    width: 100%;
    /* max-width: 1200px; */
    height: auto;
    margin: 0 auto;
    /* opacity: 60%; */

}

#banner-title {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 6rem;
    word-spacing: 100px;
    color: rgb(239, 27, 27);

    
}





/* ============================================================ */
/* ======================== WHO ARE WE ========================*/
/* ============================================================ */


#about1 img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

#we-text {
    align-self: center;
    max-width: 600px;
    padding-left: 10px;
    /* border: 1px solid blue */
}

#we-text article {
    max-width: 600px;
    word-spacing: 4px;
}



/* ============================================================ */
/* ======================== MISSION & Process ========================*/
/* ============================================================ */

#about2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;

}

#mission-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    width: 100%;
    font-size: large;

}

#process-block {
    width: 100%;
    font-size: large;
    margin: 10px;

}


/* ============================================================ */
/* ======================== SHOPPING GRID ========================*/
/* ============================================================ */

/* .card-ingredient {

} */

#ingredients-wrapper {
    padding: 10px;
    margin: 15px;
    gap: 5px;
}



.ingredient_quantity_price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    width: 100%;

}

.ingredient_quantity_price input {
    max-width: 500px;
    width: 100%;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 100%;

}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100px;
    width: 100%;

}

.card-body {
    padding: 10px;
}



/* ============================================================ */
/* ======================== PAYMENT ========================*/
/* ============================================================ */

#cart-pay .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

#cart-wrapper {
    padding: 20px
}

/* ============================================================ */
/* ======================== Footer ========================*/
/* ============================================================ */

#footer {
    margin-top: 10px;
    padding-top: 10px;
    background-color: rgb(221, 86, 86);
}

#footer-quote {
    text-align: center;
    padding-top: 30px;
}