

/* ============================================================ */
/* ======================== TOP BANNER ========================*/
/* ============================================================ */

#banner-wrapper {
    position: relative;
    /* display: flex;
    align-items: center; */
    /* width: 100%; */
}

#banner-wrapper img {
    /* display: block; */
    width: 100%;
    /* max-width: 1200px; */
    height: auto;
    margin: 0 auto;
    /* opacity: 60%; */

}

#banner-title {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 6rem;
    word-spacing: 100px;
    color: red;
    border: 2px solid black;
    /* opacity: 100%; */
    /* width: 500px;
    height: 20px; */
    
}



/* ============================================================ */
/* ======================== BREAKPOINTS ========================*/
/* ============================================================ */


    /* Breakpoint */
@media (max-width: 1050px) { 

    /* #about1 #about2 { 
        flex-wrap: wrap;

    } */

}


/* ============================================================ */
/* ======================== WHO ARE WE ========================*/
/* ============================================================ */
 /* #about1 {

    display: flex;
    flex-direction: row; 

    align-items: center;
    justify-content: space-evenly;

}  */

#about1 img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

#we-text {
    align-self: center;
    max-width: 600px;
    padding-left: 10px;
    border: 1px solid blue
}

#we-text article {
    max-width: 600px;
    word-spacing: 4px;
}

/* 
#about1 .text-block {
    border: 2px solid blue;
    max-width: 500px;
    font-size: large; */



/* ============================================================ */
/* ======================== MISSION & Process ========================*/
/* ============================================================ */

#about2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    /* justify-content: space-between; */
    border: 2px solid red;
}

#mission-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    width: 100%;
    font-size: large;

}

#process-block {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border: 2px solid black;
    width: 100%;
    font-size: large;

}


/* ============================================================ */
/* ======================== SHOPPING GRID ========================*/
/* ============================================================ */

#ingredients-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ingredient {
    border: 2px solid blue

}

.ingredient_info_buy {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}


.ingredient_quantity_price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
}

.ingredient_quantity_price input {
    max-width: 500px;
    width: 100%;
    /* border: 2px solid red; */
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;

}